= simple_form_for [:admin, @post], html: { class: 'form-horizontal' } do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :url_path
    = f.input :tag_list
    = f.input :body
    = f.input :published_at, include_blank: true
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
