!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "BlogApp"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"

  %body{ data: { page: { id: content_for?(:page_id) ? content_for(:page_id) : 'general' } }}
    .navbar.navbar-expand-lg.navbar-dark.bg-dark
      %a.navbar-brand(href= admin_root_path )= @blog.title
      %button.navbar-toggler{ type: 'button', data: {toggle:"collapse", target:"#navbar-links" }}
        %span.navbar-toggler-icon
      #navbar-links.navbar-collapse.collapse
        %ul.navbar-nav
          %li.nav-item
            = link_to new_admin_post_path, class: 'nav-link' do
              = fa_icon 'pencil-square-o'
              書く
          %li.nav-item
            = link_to admin_posts_path, class: 'nav-link' do
              = fa_icon 'list'
              記事管理
          %li.nav-item
            = link_to edit_admin_blog_path, class: 'nav-link' do
              = fa_icon 'wrench'
              ブログ管理

    .container
      .row.mt-3
        .col
          = yield
      %footer
        %p &copy; Company 2017
